EXPO_PUBLIC_API_URL=http://127.0.0.1:5000/api/v1
EXPO_PUBLIC_API_FALLBACK_URL=https://api.seudominio.com/api/v1
EXPO_PUBLIC_ENABLE_API_FALLBACK=false
EXPO_PUBLIC_API_HEALTHCHECK_TIMEOUT_MS=2500
EXPO_PUBLIC_DEFAULT_LOGIN_EMAIL=admin@gmail.com
EXPO_PUBLIC_DEFAULT_LOGIN_PASSWORD=123123
EXPO_PUBLIC_MASTER_LOGIN_EMAIL=master@gmail.com
EXPO_PUBLIC_MASTER_LOGIN_PASSWORD=123123
